<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data binding 2 chiều</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10"></script>
    <style>
        .demo {
            width: 300px;
            height: 300px;
            background-color: aqua;
        }
    </style>
</head>

<body>
    <div id="app">
        <div v-bind:style="objectStyle">
            <!-- {backgroundImage: background} -->
            <input type="text" placeholder="Nhập name 1" @keyup="handleKeyUp"> </input>
            <input type="text" placeholder="Nhập name 2" v-model="name2"> </input>
            <h2>Name1 : {{name1}}</h2>
            <h2>Name2 : {{name2}}</h2>
            <textarea v-model="about"></textarea>
            <p>{{about}}</p>
            <div class="demo" v-bind:class="{active:isActive, error:isError}">
                <button @click="changeActive">change Active</button>
                <button v-on:click="changeError">change Error</button>
            </div>
            <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px', marginTop :'20px'}">
                Test style binding
            </div>
        </div>
    </div>
</body>
<script>
    Vue.config.devtools = true
    var app = new Vue({
        el: '#app',
        data: {
            name1: '',
            name2: '',
            about: '',
            textClass: 'Đây là textClass',
            isActive: true,
            isError: false,
            activeColor: 'blue',
            fontSize: 20,
            bg: 'https://img.freepik.com/free-vector/japanese-wave-line-art-landscape-background-abstract-mountain-banner-design-pattern-vector-illustration-geometric-poster_90220-715.jpg?w=996&t=st=1662283634~exp=1662284234~hmac=e460dcaf9a5a109d9f3a0f3d86d26b9ff1f70a17a65c73ae53e115e55f76f29f',
        },
        methods: {
            handleKeyUp(e) {
                var name1 = e.target.value
                console.log(name1)
                this.name1 = name1
            },
            changeActive() {
                this.isActive = !this.isActive;
            },
            changeError() {
                this.isError = !this.isError;
            }
        },
        computed: {
            objClass: function () {
                return {
                    active: this.isActive,
                    error: this.isError
                }
            },
            background(){
                return 'url(' + this.bg + ')'
            },
            objectStyle : function(){
                return {
                    backgroundImage : 'url(' + this.bg + ')',
                    margin : '10px',
                    paddingLeft : '30px'
                }
            }
        }
    })
</script>

</html>